@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

<div class="card">
    <div class="card-header">
        
    </div>
    <div class="card-body">

        <p id= "welcome mesage">
<h1> Welcome to the MVC Taller</h1>


           
        </p>
        
        <p class="card-text">Use this area to provide additional information.</p>


    </div>
</div>
